.image-slider {
    height: 100vh;
}

.image-slider__wrapper {
    height: 100%;
}

.image-slider__slide {

}

.image-slider__image {
    height: 100%;
}

.image-slider__slide {
    position: relative;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    cursor: grab;
    object-fit: cover;
    object-position: center;
}

.image-slider__content {
    width: 55%;
    bottom: 35px;
    position: absolute;
    padding: 20px 50px;
    margin: 0 auto;
}

.image-slider__header {
    color: white;
    line-height: 1.1;
    font-size: 50px;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
}

.image-slider__descr {
    width: 100%;
    color: white;
    font-size: 26px;
    text-align: left;
    padding: 20px 0;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
}

.image-slider__btn {
    display: block;
    width: 250px;
    margin: 20px auto;
    margin-left: 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 30px;
    height: auto;
    color: #ffffff;
    background-color: var(--swandoo-green);
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: bold;
}

.image-slider__btn:hover {
    background-color: var(--swandoo-blue);
    color: white;
    text-decoration: none;
}

.swiper-pagination-bullet-active {
    background: #ffffff !important;
}

.desktop-slider {
    align-items: center;
}

/*Адаптив слайдера*/

@media (max-width: 1080px) {
    .image-slider__slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-slider__content {
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        bottom: 60px;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
    }
    .image-slider__btn {
        margin: 0 auto;
    }
}