{% extends 'base.html' %}
{% load static %}
{% block title %} Swandoo {{ product.name }} {% endblock %}
{% block content %}
  <section class="sw_product_first-screen detail__header">
        <div class="container option__heading">

            <img class="main-image" src="{{ main_photo.main_photo.url }}" alt="">
            <h1 class="detail__h1">{{ product.description.h1 }}</h1>
            <h2 class="detail__h2">{{ product.description.h2 }}</h2>
        </div>
  </section>
  <section class="section-offset">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb justify-content-center">
          <li class="breadcrumb__item">
              <span style="color: var(--swandoo-green); font-size: 16px; line-height: 24px;">
                На главную
              </span>
          </li>
          <li class="breadcrumb__item">
              <span
                  style="color: var(--swandoo-green); font-size: 16px; line-height: 24px;-webkit-font-smoothing: antialiased">
                Наши товары
              </span>
          </li>
          <li class="breadcrumb__item">
            <span>{{ product.name }}</span>
          </li>
        </ul>
      </nav>
    </div>
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          {{ product.description.reward_title | safe }}
          <div class="images">
            {% for reward in rewards_standard %}
              <img class="reward-standard" src="{{ reward.image.url }}"
                   alt="{{ reward.model.name }} {{ reward.name }}">
            {% endfor %}
          </div>
          <div class="images">
            {% for reward in rewards_small %}
              <img class="reward-small" src="{{ reward.image.url }}"
                   alt="{{ reward.model.name }} {{ reward.name }}">
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if product.description.features %}
    <section class="section-offset">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            {{ heading_2_header | safe }}
          </div>
        </div>
        <div class="col-12 mx-auto">
          <div class="text-center">
            <h3>Специальные возможности</h3>
          </div>
          <div class="d-flex flex-wrap justify-content-center">
            {% for feature in product.description.features.all %}
              <div class="col-12 col-md-3">
                <div class="text-center">
                  <img class="features-list__img" src="{{ feature.image.url }}"
                       alt="{{ feature.title }}">
                  <h4 class="column-title">{{ feature.title }}</h4>
                  <p>{{ feature.text }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  {% if colored_specs %}
    <section class="section-offset gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <h3 class="">Характеристики</h3>
            </div>
          </div>
          <div class="col-10 mx-auto ">
            <div class="d-flex spec__list flex-wrap justify-content-center mx-auto">
              {% for spec in colored_specs %}
                <div class="spec__item col-12 col-md-6 col-xl-4 mx-auto"
                     style="background-image: url('{{ spec.image.url }}')">
                  <div class="spec__item__descr">
                    <h4 class="spec__item__descr__title">{{ spec.title }}</h4>
                    <p class="spec__item__descr__text">{{ spec.text }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="text-center show-more">
              <span class="text-center " onclick="showMore()">Больше характеристик</span>
            </div>

            <div class="row" id="hideSpec" style="opacity: 0; height: 0">
              {% for spec in non_colored_specs %}
                <div class="spec__item col-12 col-md-6 col-xl-4 mx-auto"
                     style="background-image: url('{{ spec.image.url }}')">
                  <div class="spec__item__descr">
                    <h4 class="spec__item__descr__title gray">{{ spec.title }}</h4>
                    <p class="spec__item__descr__text gray">{{ spec.text }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  <section class="section-offset">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h3>{{ product.description.heading_3_title }}</h3>
            <h4 class="small" style="color: var(--swandoo-green)">{{ product.description.heading_3_subtitle }}</h4>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-md-2">
              <ul id="colors"
                  class="colors-list d-flex flex-md-column flex-sm-row justify-content-center justify-content-sm-center justify-content-md-center">
                {% for var in variety %}
                  <li class="">
                    <img id="color-{{ var.color.id }}" class="{% if forloop.first %}active{% endif %} color-icon icon"
                         src="{{ var.color.image.url }}" alt="{{ product.name }}/{{ var.color.name }}">
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div
                class="col-12 col-md-4 col-xl-1 d-sm-flex justify-content-center justify-content-sm-center justify-content-md-center">
              {% for var in variety %}
                <div id="photo-{{ var.color.id }}" class="{% if not forloop.first %}inactive-image{% endif %}">
                  <img class="color-image"
                       src="{{ var.main_photo.url }}" alt="{{ var.model.name }} {{ var.color.name }}">
                  <p class="text-center" style="color: var(--swandoo-green)">{{ var.color.name }}</p>
                </div>
              {% endfor %}

            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <a class="btn-buy" href="">Купить</a>
          </div>
        </div>
      </div>
    </div>
    <script>
      {# смена фотографии по клику на цвет #}
      let ul = document.getElementById('colors');
      let selectedPhoto = document.getElementById('photo-{{ variety_first_element_id }}');
      let selectedItem = document.getElementById('color-{{ variety_first_element_id }}');

      ul.onclick = function (event) {
        let target = event.target.closest('img');
        if (!target) return;
        if (!ul.contains(target)) return;
        highlight(target)
      }

      function highlight(target) {
        if (selectedItem) {
          selectedItem.classList.remove('active');
          selectedPhoto.classList.add('inactive-image');
        }
        let matchId = target.id.toString().match(/(\d+)/)[0];
        const photoId = "photo-" + matchId;
        selectedPhoto = document.getElementById(photoId);

        selectedItem = target;
        selectedItem.classList.add('active');
        selectedPhoto.classList.remove('inactive-image');
      }

    </script>
  </section>
  {% if product.description.video_urls.all %}
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h3>{{ product.description.heading_4_title }}</h3>
          </div>
    </section>
  {% endif %}
  <script src="{% static 'style/js/functions.js' %}"></script>

{% endblock %}