{% extends 'base.html' %}
{% load static %}
{% block title %}Swandoo официальная страница{% endblock %}
{% block style %}
  <link rel="stylesheet" href="{% static 'style/css/slider.css' %}">
  <link rel="stylesheet" href="{% static 'style/node_modules/swiper/swiper-bundle.min.css' %}">
{% endblock %}
{% block content %}
  <section>
    <div class="image-slider swiper-container">
      <div class="image-slider__wrapper swiper-wrapper">
        <div class="image-slider__slide swiper-slide"
             style="background-image: url('{% static 'products/slider/1.png' %}')">
          <div class="image-slider__content">
            <h2 class="image-slider__header">Текст заголовка №1</h2>
            <p class="image-slider__descr">Описание</p>
            <a class="image-slider__btn">albert lite</a>
          </div>
        </div>
        <div class="image-slider__slide swiper-slide"
             style="background-image: url('{% static 'products/slider/1.png' %}')">
          <div class="image-slider__content">
            <h2 class="image-slider__header">Текст заголовка №1</h2>
            <p class="image-slider__descr">Описание</p>
            <a class="image-slider__btn">albert lite</a>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
  <section class="section-offset">
    <div class="d-flex flex-row">
      {% for variety in varieties %}
        <div class="">
        <p>{{ variety.barcode }}</p>
          <img src="{{ variety.main_photo.url }}" alt="{{ variety.model.name }}">
        </div>
      {% endfor %}
    </div>
  </section>
  <script src="{% static 'style/node_modules/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'style/js/slider.js' %}"></script>


{% endblock %}